body {
    background-color: cadetblue;
}
.wrapper {
    display: flex;
    width: 100%;
    max-width: 1024px;
    margin-left: 50%;
    margin-right: 50%;
}

.card {
    flex-direction: column;
    margin: 10px;
    border: 3px black;
}